.div__contain{
    display: flex;
    justify-content: center;
}
.contain{
    display: flex;
    width:60%; 
    justify-content:space-between;
    row-gap:40px;
    flex-wrap:wrap;
}
@media screen and (max-width:1024px){
.contain{
    width: 90%;
}


}

@media screen and (max-width:1023px){
    .contain{
        width: 90%;
        justify-content: space-between;
    }


}
@media screen and (max-width:767px){
    .contain{
        width: 90%;
        justify-content: center;
    }
    .div__contain{
        justify-content: center;
    }
}
