.burger{
    display: none;
}

@media screen and (max-width:767px){
    .div__nav{
        display: none;
    }
    .nav{
        display: none;
    }
    .div__button{
        display: none;
    }
    .burger{
        display: block;
    }
}
